body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.category-list{
    cursor: pointer;
    color:rgb(0, 23, 128);
}

.category-list:hover{
    color: #3f51b5;
    font-weight: bold;
    /* #2379ff */
}

.homepage-bg{
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    opacity: 1;
    /* z-index: 1; */
}