.sidebar-fixed {
    height: 100vh;
    width: 200px;
    z-index: 1050;
    background-color: #112e6a;
    position: fixed;
    padding: 1.5rem;
    top:0;
    left:0;
    overflow-x: hidden;
    padding-top:16px;

    display: flex;
    flex-direction: column;
    transition: 0.8s ease;

  }

  .sidebar-fixed .side-link{
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: large;
      color: #ddd !important;
      display: block;
  }

  .sidebar-fixed .side-link:hover{
      color: #555 !important;
  }

  .main-content{
      margin-left: 200px;
      padding: 0px 10px;
      display: flex;
  }